<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Payment</th>
      <th>Address</th>
      <th>Poblation</th>
      <th>Last name</th>
      <th>First name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<tr>
  <td><div class="field"><%= f.number_field :status %></div></td>
  <td><div class="field"><%= f.number_field :payment %></div></td>
  <td><div class="field"><%= f.text_area :address %></div></td>
  <td><div class="field"><%= f.text_field :poblation %></div></td>
  <td><div class="field"><%= f.text_field :last_name %></div></td>
  <td><div class="field"> <%= f.text_field :first_name %></div></td>
</tr>
</tbody>
</table>

<h1>Items</h1>
  <%= f.fields_for :line_items do |builder| %>
    <%= render "line_item_fields", f: builder %>
<% end %>

<%= link_to_add_fields "Add line", f, :line_items %>

<div class="actions">
    <%= f.submit %>
  </div>
<% end %>