<table>
<thead>
<tr>
<th>Quantity</th>
<th>Price</th>
<th>Product</th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
    <td><div class="field"><%= f.number_field :quantity %></div></td>
    <td><div class="field"><%= f.number_field :price %><br /></div></td>
    <td><div class="field"><%= f.select :product_id, options_for_select(Product.all.map{|s|[s.name, s.id]}) %></div></td>
    <td><div class="field"><%= f.hidden_field :_destroy %></div></td>
    <td><%= link_to_function "remove", "remove_fields(this)" %></td>
</tr>    
</tbody>
</table>