<h1>Listing Products</h1>
 
<%= link_to "New product", new_product_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Desc</th>
    <th>Category</th>
    <th>Date</th>
    <th>Maker</th>
    <th>Stock</th>
  </tr>
 
  <% @products.each do |p| %>
    <tr>
      <td><%= p.name %></td>
      <td><%= p.desc %></td>
      <td><%= p.category %></td>
      <td><%= p.date_start %></td>
      <td><%= p.maker %></td>
      <td><%= p.stock %></td>
      <td><%= link_to 'Show', p %></td>
      <td><%= link_to 'Edit', edit_product_path(p) %></td>
      <td><%= link_to 'Destroy', product_path(p), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to "Volver a inicio", root_path %>